
.page {
    width: 100%;
    height: 100vh;
}



.header {
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    position:relative;
}

.content {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 10px 0;
    height: 10px;
}

.progress-fill {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.1s;

}

.title{
    font-size: 20px;
}
.title span{
    font-weight: 900;
}
.title span::first-letter{
    color: #8A2BE2 !important;
}

.toggleicon {
    position: absolute;
    right:0px !important;
    top:0px;
    z-index:99999;
    padding: 0px 15px;
    right: 2px;
    transform: translateX(-50%); /* Adjust for centering */
    transition: top 0.5s ease;
}





.triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-left: 14px solid #0d6efd;
    border-bottom: 10px solid transparent;
}