<div class="page">
  <header class="header px-3">
    <div class="row d-flex align-items-center">
      <div class="col-md-3">
        <h5 class="m-0 title"><span>ample</span>Logic</h5>
      </div>
      <div class="col-md-6">
        <nav class="navbar navbar-expand-lg">
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Organization Structure
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Organization 1</a></li>
                  <li><a class="dropdown-item" href="#">Organization 1</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Configurations
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Configurations 1</a></li>
                  <li><a class="dropdown-item" href="#">Configurations 2</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reports
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Report 1</a></li>
                  <li><a class="dropdown-item" href="#">Reports 2</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ETL
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col-md-3 d-flex align-items-end justify-content-end">
        <div >
          <fa-icon [icon]="faFlag"></fa-icon>
        </div>
        <div class="px-3">
          <fa-icon [icon]="faBell"></fa-icon>
        </div>
        <div class="circle">
          <fa-icon [icon]="fauser"></fa-icon>
        </div>

      </div>
    </div>
  </header>
  <section class="content">
    <div *ngIf="isShowStartbutton">
      <button class="btn btn-primary px-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
        aria-controls="staticBackdrop" (click)="_doStart()">Start</button>
    </div>
  </section>
  <footer class="footer px-3">
    <span>ampleLogic</span>
    <span>Copyrights 2024| All right Reserved</span>
    <span>v1.0.0</span>
  </footer>
</div>

<div style="position: relative;">
  <div class="bg-primary d-flex align-items-end justify-content-center toggleicon"
    [ngStyle]="{'top':isShowOffcanvas?'-109px':'-20px'}" (click)="toggle()">
    <fa-icon *ngIf="!isShowStartbutton" [icon]="toggleicon" style="color:white"></fa-icon>
  </div>
  <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" data-bs-backdrop="static"
    aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-body small">
      <div class="d-flex align-items-center">
        <div style="position:relative;">
          <div class="bg-primary d-flex align-items-center justify-content-center" style="position: relative;">
            <img src="assets/booster.png" alt="image" height="50px" width="50px" />
          </div>
          <div class="triangle"></div>
        </div>
        <div class="flex-column" style="width:100%; padding-left:1rem;">
          <div class="d-flex align-items-center justify-content-between">
            <span>Migrating Data to the selected environMent</span>
            <span>{{progress}}%</span>
          </div>
          <div class="progress-bar">
            <div class="progress-fill" [style.width]="progress + '%'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>